@use '../../../styles/variants.scss' as *;

.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 2rem;
}

.line {
  width: 48px;
  height: 3px;
  border-radius: 4px;
}

.daily {
  background-color: $color-daily-use;
}

.frequent {
  background-color: $color-frequent-use;
}

.low {
  background-color: $color-low-use;
}

.noUse {
  background-color: $color-no-use;
}

.label {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.9);
}
