.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
