@use '../../../styles/variants.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-text-light;
}
