@use '../../../styles/variants.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chart {
  position: relative;
  width: 12rem; 
  height: 12rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  // Background ring (the "track")
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #1A1221; 
    -webkit-mask-image: radial-gradient(circle, transparent 65%, black 66%);
mask-image: radial-gradient(circle, transparent 65%, black 66%);
  }

  // Progress ring
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(var(--chart-color) var(--percentage), transparent 0);
    transform: rotate(-90deg);
    -webkit-mask-image: radial-gradient(circle, transparent 65%, black 66%);
    mask-image: radial-gradient(circle, transparent 65%, black 66%);
    z-index: 2;
  }

  // Default color if no class is applied
  --chart-color: #{$color-daily-use};

  &.daily { --chart-color: #{$color-daily-use}; }
  &.frequent { --chart-color: #{$color-frequent-use}; }
  &.low { --chart-color: #{$color-low-use}; }
  &.none { --chart-color: #{$color-no-use}; }
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  gap: 0;

}



