@use 'variants';

.inter {
  font-family: var(--font-inter), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: var(--font-roboto), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 1728px) {
  body {
    background: $color-dark-background;
  }
}

h1 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  color: $color-text-light;
}

h2 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.25;
  color: $color-text-light;
}

h3 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3;
  color: $color-text-light;
}

h4 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.35;
  color: $color-text-light;
}

h5 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4;
  color: $color-text-light;
}

h6 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.4;
  color: $color-text-light;
}

p {
  font-family: var(--font-inter), sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-text-light;
}



