$color-daily-use: #8FC0A9;
$color-frequent-use: #FFC759;
$color-low-use: #FFB997;
$color-no-use: #B279A7;

$color-dark-background: #2C2C34;
$color-accent-background: #4F2958;
$color-text-light: #F2F2F2;

$color-accent: #00B4D8;
$color-gradient-background: linear-gradient(
  110deg,
  rgba(15, 15, 15, 0.5) 0%,
  rgba(81, 42, 89, 0.5) 100%
);
