$color-daily-use: #8FC0A9;
$color-frequent-use: #FFC759;
$color-low-use: #FFB997;
$color-no-use: #B279A7;

$color-dark-background: #2C2C34;
$color-text-light: #F2F2F2;

$color-accent: #00B4D8;
$color-gradient-background: linear-gradient(45deg,rgba(81, 42, 89, 0.4) 100%, rgba(0, 0, 0, 1) 100%);;
